.top-detail{
  display: flex;
  justify-content: flex-start;
}

.detail-card{
  top: 159px;
  left: 24px;
  width: 254px;
  height: 75px;
    
  background: #333333 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding: 20px;
}

.top-detail img{
  padding-left: 50px;
}

.detail h1 {
  top: 63px;
  left: 24px;
  width: 250px;
  /* height: 51px; */
  text-align: left;
  font: Bold 36px/40px Poppins!important;
  letter-spacing: 0.36px;
  color: #F3AA00;
  opacity: 1;
}

.detail svg{
  color: #FFFFFF98;
  top: 270px;
  left: 298px;
  width: 36px;
  height: 36px;
  opacity: 1;
  margin-left: 15px;
}

.detail p {
  top: 120px;
  left: 24px;
  width: 250px;
  text-align: left;
  font: Light 16px/10px Nunito Sans!important;
  letter-spacing: 0;
  color: #FFFFFF;
  opacity: 1;
  padding-left: 15px;
}