.top-detail{
  display: flex;
    justify-content: space-between;
}

.detail-card{
  top: 159px;
  left: 24px;
  width: 254px;
  height: 75px;
    
  background: #333333 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 16px #00000029;
  border-radius: 8px;
  opacity: 1;
  padding: 20px;
}